@import "tailwindcss";

@theme {
    --color-primary-light: oklch(0.84 0.04 71);
    --color-primary-med: oklch(0.63 0.07 62);  
    --color-primary-dark: oklch(0.45 0.05 63);
    --color-cream-light: oklch(0.97 0.01 74);
    --color-orange-light: oklch(0.78 0.09 63);
    --color-orange-med: oklch(0.71 0.12 59); 
    --color-orange-dark: oklch(0.66 0.14 57);  
    --color-brown-light: oklch(0.46 0.06 61);  
    --color-brown-med: oklch(0.37 0.04 60);
    --color-brown-dark: oklch(0.32 0.04 62);   
    --color-accent-brown: oklch(0.43 0.08 50);

    --font-poppins: Poppins, sans-serif;
}

@layer base {
    .button {
        @apply bg-orange-med font-mono text-cream-light px-4 py-2 rounded-xl hover:bg-orange-dark disabled:text-primary-med disabled:bg-orange-light
    }

    h1 {
        @apply text-3xl
    }

    h1, h2, h3 {
        @apply text-primary-dark font-mono
    }

    p {
        @apply text-primary-dark font-poppins
    }

    .download {
        @apply text-cream-light
    }
}
